body {
	background: linear-gradient(-45deg, #000000, #7c7a81, #113e4e, #144b3d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
.text {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    transform: translateY(-50%);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  .text:hover {
    transform: rotateX(35deg), translateY(-50%);
  }
  .text:hover span {
    color: #ccc;
  }
  .text:hover span:nth-child(odd) {
    transform: skewY(15deg);
  }
  .text:hover span:nth-child(even) {
    transform: skewY(-15deg);
    background-color: #f9f9f9;
    color: #a6a6a6;
  }
  .text > span {
    display: block;
    background-color: #fff;
    width: 50px;
    height: 120px;
    line-height: 120px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
  }
  .text > span:first-child {
    border-radius: 1px 0 0 5px;
  }

  .topnav {
    background-color: transparent;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #domov{
    width: 100%;
    display: flex;
    /* position: sticky; */
}

  p{
      color: white;
      font-size: 20px;
      margin: 10px
  }

  h2 {
    color: #f2f2f2;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
  }

  * {box-sizing:border-box}
  @keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  body h1 {
    text-align: center;
  }
  
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    position: relative;
  }
  
  .slide-container .slide {
    display: none;
    width: 100%;
  }
  
  .slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  
  .slide-container .slide img {
    width:600px; 
    height:450px; 
  }

  .slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
} 


.dots-container .dot.active {
  border: 2px solid rgb(0, 0, 0);
}